.container {
  padding: 3rem;
}

.image-cell {
  text-align: center;
}

.profile-image {
  width: 90%;
  height: 90px;
  border-radius: 70%;
  object-fit: cover;
}

.table-toolbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.table-card {
  padding: 20px;
}

table {
  width: 100%;
}

mat-form-field {
  width: 300px;
}

.pagination-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}
